{{ define "content" }}

<header class="section section--header">
  <div class="container container--lg">
    <h1 class="section__title line-top">{{ .Title }}</h1>
    {{ if .Params.subtitle }}
    <p class="section__subtitle">{{ .Params.subtitle }}</p>
    {{ end }}
  </div>
</header>

<div class="section section--portfolio">
  <div class="container container--lg">
    <div class="grid post-feed post-feed--col-three">
      {{ range .Pages }}
        {{ $include_dict := dict "post_page" . }}
        {{ partial "blog_feed_item.html" $include_dict }}
      {{ end }}
    </div>
  </div>
</div>

{{ end }}
